{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if FINISHED_COURSE_MESSAGE or NOT_STARTED_COURSE_MESSAGE %}

    {% if FINISHED_COURSE_MESSAGE %}
      <h3 class="finished-course-message">{{ FINISHED_COURSE_MESSAGE }}</h3>
    {% endif %}

    {% if NOT_STARTED_COURSE_MESSAGE %}
      <h3 class="not-started-course-message">{{ NOT_STARTED_COURSE_MESSAGE }}</h3>
    {% endif %}

  {% else %}
    <header>
      <p>
        <strong>{{ course.name }}</strong>
        {% now "Y-m-d" as current_date %}
        <a href="{% url 'registered' course.pk current_date  %}">(See today registered attendances of this course)</a>
      </p>
    <header>
    <form action="{% url 'register' course.pk %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
  {% endif %}
{% endblock content %}
